:root {
    --black: #343434;
    --bege: #aca48d;
    --white: #f1f6f2;
    --light-grey: #eff1ec;
    --light-bege: #dfe0ce;
}

.container a.btn{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background-color: var(--bege);
    border: none;
    border-radius: 10px;
    padding: 0.2rem 2rem;
}

.destaques-container {
    margin: 2rem 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid var(--black);
    margin: 1em 0;
    padding: 0;
}

footer {
    margin-top: 3rem;
}

footer .row {
    margin-top: 2rem;
}

div input[type=text] {
    background-color: var(--white);
    border: none;
    text-decoration: none;
}

footer button {
    border: none;
}