:root {
    --black: #343434;
    --bege: #aca48d;
    --white: #f1f6f2;
    --light-grey: #eff1ec;
    --light-bege: #dfe0ce;
}  

.destaques-container {
    margin: 2rem 0;
}

ul.dropdown-menu{
    background-color: var(--black);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid var(--black);
    margin: 1em 0;
    padding: 0;
}

footer {
    margin-top: 3rem;
}

footer .row {
    margin-top: 2rem;
}

div input[type=text] {
    background-color: var(--white);
    border: none;
    text-decoration: none;
}

footer button {
    border: none;
}

@media screen and (min-width: 768px) {
    ul.dropdown-menu{
        border: none;
    }
}